In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("First Spark Application").getOrCreate()

25/07/13 19:05:26 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
data = [
    {"userId": 1, "paymentAmount": 100.0, "date": "2025-01-01"}, 
    {"userId": 2, "paymentAmount": 150.5, "date": "2025-01-02"}, 
    {"userId": 3, "paymentAmount": 200.75, "date": "2025-01-03"}, 
    {"userId": 2, "paymentAmount": 50.25, "date": "2025-01-04"}, 
    {"userId": 1, "paymentAmount": 80.0, "date": "2025-01-05"}
]

df = spark.createDataFrame(data)

In [3]:
df.show()

+----------+-------------+------+
|      date|paymentAmount|userId|
+----------+-------------+------+
|2025-01-01|        100.0|     1|
|2025-01-02|        150.5|     2|
|2025-01-03|       200.75|     3|
|2025-01-04|        50.25|     2|
|2025-01-05|         80.0|     1|
+----------+-------------+------+

In [4]:
df.count()

5

In [5]:
data = [
    (1, 100.0, "2025-01-01"), 
    (2, 150.0, "2025-01-02"), 
    (3, 200.75, "2025-01-03"), 
    (2, 50.25, "2025-01-04"), 
    (1, 80.0, "2025-01-05")
]

df = spark.createDataFrame(data, ["userId", "amount", "date"])
df.show()

+------+------+----------+
|userId|amount|      date|
+------+------+----------+
|     1| 100.0|2025-01-01|
|     2| 150.0|2025-01-02|
|     3|200.75|2025-01-03|
|     2| 50.25|2025-01-04|
|     1|  80.0|2025-01-05|
+------+------+----------+